[submodule "submodules/vim-plug"]
	path = submodules/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "submodules/dotbot"]
	path = submodules/dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "submodules/zgen"]
	path = submodules/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "submodules/roxterm-solarized"]
	path = submodules/roxterm-solarized
	url = https://gist.github.com/923039
[submodule "submodules/tpm"]
	path = submodules/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "submodules/dotbot-asdf"]
	path = submodules/dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
[submodule "submodules/asdf"]
	path = submodules/asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "submodules/elixir-ls"]
	path = submodules/elixir-ls
	url = https://github.com/elixir-lsp/elixir-ls.git
