[submodule "submodules/vim-plug"]
	path = submodules/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "submodules/dotbot"]
	path = submodules/dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "submodules/zgen"]
	path = submodules/zgen
	url = https://github.com/tarjoilija/zgen.git
